# Byte-compiled / optimized / DLL files
**/__pycache__

# pyenv
.python-version

# Distribution / packaging
/dist

# Mac
**/.DS_Store

# Unit test / coverage reports
.coverage
coverage.xml
.pytest_cache/